.places h1 {
  font-size: 30px;
}

/*=====================================ARTICLE START===========================*/

.places .articles-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  position: relative;
}

.places article h2 {
  text-align: center;
}

.places article .price_by_night {
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 3%;
  right: 5%;
}

/*=====================================INFORMATION===========================*/
.places article .information {
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.max_guest,
.number_rooms,
.number_bathrooms {
  width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0;
  height: 60px;
}

.max_guest p,
.number_rooms p,
.number_bathrooms p {
  margin: 0.5rem 0 0 0;
}
.max_guest {
  background-image: url(../images/icon_group.png);
}
.number_rooms {
  background-image: url(../images/icon_bed.png);
}
.number_bathrooms {
  background-image: url(../images/icon_bath.png);
}

/**/

/*=====================================USER===========================*/
.user span {
  font-weight: bold;
}
/**/

.places .amenities,
.places .reviews {
  margin-top: 40px;
}

.places .amenities h2,
.places .reviews h2 {
  border-bottom: 1px solid #dddddd;
  font-size: 16px;
}

.places .reviews h2,
.places .amenities h2 {
  text-align: left;
  padding: 1rem 0;
}
.places .reviews ul,
.places .amenities ul {
  list-style: none;
  padding-left: 0;
}

.amenitie-tv,
.amenitie-wifi,
.amenitie-petFriendly {
  height: 35px;
  background-position: left;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 30px;
  padding-left: 50px;
  display: flex;
  align-items: center;
}
.amenitie-tv {
  background-image: url(../images/icon_tv.png);
}
.amenitie-wifi {
  background-image: url(../images/icon_wifi.png);
}
.amenitie-petFriendly {
  background-image: url(../images/icon_pets.png);
}

.places .reviews p {
  margin-top: 0;
}
.places .reviews h3 {
  margin-bottom: 0;
}
/*=====================================ARTICLE END===========================*/
