header {
    height: 70px;
    width: 100%;
    color: white;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;

    background-image: url('../images/logo.png');
    background-repeat:no-repeat;
    background-position-x: 20px;
    background-position-y: center;
  }

------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    @media (max-width: 1080px) {
      font-size: 93.75%;
    }
  
    @media (max-width: 720px) {
      font-size: 87.5%;
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
  
  button {
    cursor: pointer;
  }
  
  [disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  html {
    min-height: 100vh;
    position: relative;
  }
  
  body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
  }
  
  .container {
    max-width: 1000px;
    margin: 30px auto;
  }
  